* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imagens/background\ rpg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #33333380;
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid orange;
}
header h1{
    font-size: 2em;
    margin: 0.5em;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin: 1%;
}

.itemnavbar {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 1.5em;
}

main {
    width: 90%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.containerbemvindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 1em;
    background-color: rgba(243, 171, 37, 0.623);
    color: white;
    text-shadow: 2px 2px 4px #333;
    border: 0.2em solid #333333;
    margin: 1em;
    text-align: center;
    padding: 1em;
    gap: 0.7em;
    transition: 0.5s;
    margin-bottom: 5em;
}

.containerbemvindo button {
    border: none;
    font-size: 1em;
    padding: 0.5em;
    color: white;
    background-color: #333333;
    border: 2px solid rgb(201, 130, 0);
    margin: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}

.containerbemvindo button:hover {
    border: none;
    font-size: 1em;
    padding: 0.5em;
    color: white;
    background-color: #333333da;
    border: 2px solid orange;
    margin: 0.5em;
    transform: scale(1.03);
}

.containerbemvindo button:active {
    border: none;
    font-size: 1em;
    padding: 0.5em;
    color: white;
    background-color: #333333da;
    border: 2px solid orange;
    margin: 0.5em;
    transform: scale(1.0);
}

.containerbemvindo h3 {
    font-size: 3.3em;
}

.containerbemvindo h6 {
    font-size: 2.5em;
}

.containerbemvindo p {
    font-size: 2em;
}

.infoclasses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.containercardinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.cardinfocavsemags {
    background-color: #333333;
    color: #fff;
    width: 30em;
    min-height: 20em;
    height: max-content;
    border: 2px solid orange;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    margin-bottom: 1em;
}

.cardinfocavsemags h5 {
    font-size: 3.5em;
}

.cardinfocavsemags ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardinfocavsemags li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.testimonials {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #333;
    border: 2px solid orange;
    padding: 1em;
    border-radius: 0.5em;
}

.testimonials h5 {
    font-size: 3em;
}

.testimonials blockquote {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0.5em;
    text-align: center;
    color: #fff;
    background-color: #33333357;
    border: 2px solid orange;
    padding: 1em;
}

.top-players {
    margin: 20px auto;
    text-align: center;
}

.top-players h5 {
    font-size: 2.5em;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    color: white;
    text-shadow: 2px 2px 4px #333;
}

.top-players table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background: #f5f5f534;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.top-players th,
.top-players td {
    padding:0.2em;
    border: 1px solid orange;
    text-align: center;
}

.top-players th {
    background-color: #333333;
    color: #fff;
    text-transform: uppercase;
}

.top-players tr:nth-child(even) {
    background-color: #f2f2f2;
}

.top-players tr:nth-child(odd) {
    background-color: #ffffff;
}

.top-players td {
    color: #444;
}

.top-players td:hover {
    color: white;
}

.top-players tbody tr:hover {
    background-color: #696969;
    transition: 0.3s ease;
}

/* Estilo para as imagens */
.player-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* Deixa a imagem circular */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Adiciona um efeito de profundidade */
    object-fit: cover;
    /* Garante que a imagem preencha o espaço */
}


.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    text-align: center;
    color: white;
    background-color: #33333357;
    border: 2px solid orange;
    padding: 1em;
    border-radius: 0.5em;
    text-shadow: 2px 2px 4px #333;
}

.about h5 {
    font-size: 3em;
}

.about p {
    font-size: 2em;
}

//* Media Query para dispositivos móveis */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        width: 100%;
        justify-content: center;
        margin: 0.5em 0;
    }

    .itemnavbar {
        font-size: 1.2em;
        margin: 0.3em;
    }

    main {
        width: 95%;
        align-items: center;
        padding: 0.5em;
    }

    .containerbemvindo {
        width: 90%;
        margin: 1rem;
        padding: 1em;
    }

    .containerbemvindo h3 {
        font-size: 2.5em;
    }

    .containerbemvindo h6 {
        font-size: 2em;
    }

    .containerbemvindo p {
        font-size: 1.5em;
    }

    .containercardinfo {
        flex-direction: column;
        align-items: center;
    }

    .cardinfocavsemags {
        width: 95%;
        margin: 1em 0;
    }

    .cardinfocavsemags h5 {
        font-size: 2.5em;
    }

    .testimonials {
        width: 95%;
        margin: 1em 0;
    }

    .testimonials h5 {
        font-size: 2.5em;
    }

    .testimonials blockquote {
        width: 90%;
        margin: 1em 0;
    }

    .top-players {
        width: 95%;
        margin: 1em 0;
    }

    .top-players h5 {
        font-size: 3em;
    }

    .top-players table {
        width: 100%;
    }

    .top-players th,
    .top-players td {
        padding: 0.5em;
        font-size: 1em;
    }

    .about {
        width: 95%;
        margin: 1em 0;
        padding: 1em;
    }

    .about h5 {
        font-size: 2.5em;
    }

    .about p {
        font-size: 1.5em;
    }
}

