* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imagens/background\ rpg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #33333380;
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid orange;
}
header h1{
    font-size: 2em;
    margin: 0.5em;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin: 1%;
}

.itemnavbar {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 1.5em;
}

main {
    width: 90%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h3{
    font-size: 1.8em;
}

.cardinformes {
    background-color: #333333c0;
    border: 2px solid orange;
    border-radius: 1em;
    width: fit-content;
    height: fit-content;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    line-height: 1.5;
}

.cardinformes p {
    font-size: 1.4em;
}

#redesSociais{
    background-color: #333333c0;
    border: 2px solid orange;
    border-radius: 1em;
    width: fit-content;
    height: fit-content;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    text-align: center;
    color: white;
    line-height: 1.5;
}

#containertitulo{
    width: 100%;
}

.containerbtn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btnRedeSocial{
    border: none;
    font-size: 1em;
    padding: 0.5em;
    color: white;
    background-color: #333333da;
    border: 2px solid orange;
    margin: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}

.btnRedeSocial:hover {
    transform: scale(1.05);
}

